body {
    color: whitesmoke;
    background: black;
    display: flex;
    align-items: center;
    overflow: hidden;
/*    margin: 0;
    justify-content: center;
*/

}

#mainCanvas {
    background: black;
}